[2015-12-31 01:21] emhoracek opened #1 "Correct all references to "cells""
There's always been inconsistencies in the spelling of the term for the basic image unit of a KiSS doll, and at first I was pretty sure it was supposed to be "cell". But looking at the original KiSS spec and considering the origin of the term is from animation (cel or celluloid), I'm now certain "cel" is the correct term and spelling.

All the references to "cell" or "cells" should be changed to "

[2016-01-04 13:40] samcwilson commented on #1
Hello.

[2017-06-18 12:33] huggablemonad opened #4 "Incorrect item dragged when page is zoomed in or out"
Browser: Vivaldi 1.10.845.3 (32-bit)
OS: Linux

Description: When I try to drag something when the page is zoomed in or out, it either doesn't move or another piece of clothing / accessory is dragged instead.

Steps to reproduce:
1. Set the page zoom to 150%.
2. Try dragging the army shorts (upper right) in set 8.
![army](https://user-images.githubusercontent.com/17948023/27260438-6c05d9be-53fa-11

[2017-07-30 21:28] emhoracek opened #5 "Create endpoint for debugging dolls"
When a doll is uploaded, it should end up in a state where I can repeatedly reload it for debugging, without having to upload again.

[2017-07-30 21:43] emhoracek opened #6 "Rework `processSet`"
Turn into composable functions of some sort?

[2017-08-03 18:00] emhoracek opened #7 "Doll: "Lina" by Anna (1998)"
Cels seem to look alright, but the positions are all wrong.

On Otakuworld: http://otakuworld.com/kiss/dolls/pages/l/lina.htm

[2017-08-03 18:27] #6 closed

[2017-08-05 16:48] emhoracek commented on #5
New endpoint is `/sets/{fileNameWithoutExtension}`

[2017-08-05 16:48] #5 closed

[2017-08-05 16:50] emhoracek commented on #7
I figured it out!!

I thought that one "set position" was created for each object, for each set. But ACTUALLY it generates one set position *for each integer between 0 and the highest-numbered object*. So if your set has only two objects, an object 0 and an object 1000, KiSS generates 1,000 null positions!! This seems ridiculous to me but it's the only way that position parsing works right!  Wow!

[2017-08-05 23:02] #7 closed

[2017-08-07 22:21] emhoracek opened #8 ""Violet" by Alison and Hm (2002)"
Seems to be a missing some background images, or they're in the wrong places? The background should look like this:

![screen shot 2017-08-07 at 6 19 49 pm](https://user-images.githubusercontent.com/5353499/29048106-0ae45672-7b9d-11e7-8672-8c3b692c3b16.png)

Everything else seems to look okay about this set.

On OtakuWorld: http://otakuworld.com/kiss/dolls/pages/v/violetah.htm

[2017-08-07 22:29] emhoracek opened #9 "Handle Japanese encodings"
Right now the viewer crashes on SHIFT_JIS-encoded configuration files.

This means none of the oldest dolls work. :(

 Example: sk_kimux.lzh

[2017-08-07 22:36] emhoracek opened #10 ""Lucca" by Bryan O'Malley (1996)"
Some deep issues with this one... 😬

This is the way it *should* look:

![screen shot 2017-08-07 at 6 37 16 pm](https://user-images.githubusercontent.com/5353499/29048589-8c606644-7b9f-11e7-98f4-61aa13b79eb8.png)

and this is the way it does look:

![screen shot 2017-08-07 at 6 38 51 pm](https://user-images.githubusercontent.com/5353499/29048622-b175f958-7b9f-11e7-8712-4bae28f80678.png)

Another o

[2017-08-08 00:20] emhoracek commented on #10
Lol this set uses TEN different palettes:

[code]

[2017-08-10 03:03] emhoracek commented on #4
@huggablemonad thanks for opening this issue. I'm focusing on getting the dolls to work in Firefox and Chrome first but once I've got the first KiSS spec working in those I'll take a look at this again. I also welcome PRs if you would be interested in investigating what's going on!

[2017-08-10 03:07] emhoracek commented on #10
This doll is going to require multi-palette support, so we'll need to 1) parse all the palettes into a map, 2) feed at least the palette map, cel name and cel palette number into the conversion function, and 3) lookup the palette file to use for each cel when converting.

[2017-08-10 14:18] emhoracek opened #11 ""Little Washu" by Alison (2001)"
Colors are just a little bit wrong. The teal parts of the background image are transparent? or missing? and leggings are the wrong colors. This may have something to do with some other color problems in various sets, especially in background cels.

In UltraKiss:
![screen shot 2017-08-10 at 10 13 17 am](https://user-images.githubusercontent.com/5353499/29174566-af348f62-7db4-11e7-9dc0-8c192bfebd58.

[2017-08-12 01:19] emhoracek commented on #10
getting a little better now that smooch looks up which palette to use before converting the cel

<img width="560" alt="screen shot 2017-08-11 at 9 17 21 pm" src="https://user-images.githubusercontent.com/5353499/29236595-9c940a6e-7eda-11e7-9895-4fcb85302e80.png">

but most of the sets still don't work at all

<img width="568" alt="screen shot 2017-08-11 at 9 18 50 pm" src="https://user-images.gith

[2017-08-12 10:33] huggablemonad commented on #11
The leggings look a little different in fkiss-0.33a:

![fkiss-washu](https://user-images.githubusercontent.com/17948023/29239914-1c43d3be-7f8c-11e7-84ed-94c14174c420.png)

[2017-08-12 11:03] vyv03354 commented on #11
fkiss does not support true translucency. It emulates transparency with tiled pattern, so it is expected.

[2017-08-12 11:38] huggablemonad commented on #11
Oh, I didn't know that. Thanks for the info!

If I disable the "pseudo transparency mode," then it looks like Smooch's:

![fkiss-washu-no-transparency](https://user-images.githubusercontent.com/17948023/29240308-eab648f0-7f94-11e7-8611-3972dcefbab9.png)

[2017-08-12 11:48] emhoracek commented on #11
This is really helpful, learning that it's an issue with transparency. Thanks @vyv03354 and @huggablemonad!

[2017-08-12 12:21] emhoracek commented on #11
Wow! I just realized that I wasn't actually using a cel's alpha value at all in the JavaScript! XD This is now fixed and the colors of all the clothes look 👍 :

<img width="545" alt="screen shot 2017-08-12 at 8 18 37 am" src="https://user-images.githubusercontent.com/5353499/29240634-1912cae2-7f37-11e7-8027-c4887c0a01d7.png">

However, the background image problem remains. The background could be

[2017-08-13 19:38] emhoracek opened #12 "Click-and-drag doesn't work on the set 0 of any set"
The "ghost canvas" is always empty on set load. If you click onto to a different set, then click back to zero, then the ghost canvas is populated and click-and-drag works again.

[2017-08-13 19:59] emhoracek commented on #11
It doesn't seem to documented anywhere but the background color of the play area is the transparency color from the cels. This set now looks exactly like the UltraKiSS version!

[2017-08-13 19:59] #11 closed

[2017-08-13 20:54] emhoracek commented on #4
@huggablemonad I'm not sure, but this may be fixed now? I was using a web api that wasn't very well supported, and now I'm using a more supported one. So click registration may work better with your browser.

[2017-08-13 22:31] ear commented on #9
I made some discoveries as soon as the stream was off:

All of the various utilities that interact with `icu` stuff one way or another work differently depending on the `locale -a` environment variables. Setting `LANG=C` and `LC_CTYPE=C` made `file` start not to break anymore!

Now your repeated application test is recognizable 😄

[code]

The program is [here](https://gist.github.com/ear/7dd6c4d04

[2017-08-13 23:16] emhoracek commented on #9
Interesting! Maybe use `setLocaleEncoding <something>` in the script? Maybe `setLocaleEncoding (mkTextEncoding "C")`? (Trying to think of ways to avoiding messing with my environment)

[2017-08-14 01:50] emhoracek commented on #9
<img width="451" alt="screen shot 2017-08-13 at 9 48 29 pm" src="https://user-images.githubusercontent.com/5353499/29255629-338e5d38-8071-11e7-9d09-872eca916669.png">

hey look!

I'm still not satisfied that I understand this problem well enough to figure out the best solution, so I'm going to do a bit more studying before I actually commit to this -- but Smooch can read a Japanese set! :D

[2017-08-14 11:45] huggablemonad commented on #4
No problems with the example sets, so I'd say it's fixed! :smile:

[2017-08-14 12:20] emhoracek commented on #4
@huggablemonad that's great!

[2017-08-14 12:20] #4 closed

[2017-08-14 12:38] huggablemonad opened #13 "Lag when clicking-and-dragging in certain sets"
There's a noticeable delay when dragging items in the Arwen, Hyacinth Delilah, and Quistis Trepe sets. For example, in Quistis Trepe, it takes about 4-5 seconds for the item to jump to the new location of the mouse cursor. It's better in Hyacinth Delilah, where the lag is around a couple of seconds. It also happens when I view the sets locally.

Browser: Vivaldi 1.11.917.35 (64-bit)

[2017-08-14 15:14] emhoracek commented on #13
Yeah, the JavaScript does not have good performance, to put it lightly. Arwen and especially Quistis have many many cels, and each one is a separate PNG. And whenever a mouse action happens, the script is doing a lot of work to figure out where you clicked and so on.

Thanks for creating this issue because it'll be a good place to discuss this problem. ^_^

[2017-08-16 01:53] emhoracek commented on #9
Thanks for your help @ear! Here's a set: http://emhoracek.github.io/smooch/example-sets/sk_kimux/ and the code that made it happen ^__^ https://github.com/emhoracek/smooch/blob/master/haskell/src/Upload.hs#L103

[2017-08-16 01:53] #9 closed

[2017-08-16 01:58] emhoracek opened #14 ""Magical Girl Pretty Sammy" by Wedge (1994)"
Like #10, this doll is missing some items on certain set numbers.

Set #5 in Smooch:
<img width="659" alt="screen shot 2017-08-15 at 9 56 41 pm" src="https://user-images.githubusercontent.com/5353499/29344285-aa1f05b2-8204-11e7-8cb9-1890d8454976.png">

And in UltraKiss:
<img width="664" alt="screen shot 2017-08-15 at 8 51 00 pm" src="https://user-images.githubusercontent.com/5353499/29344289-b33d1

[2017-08-16 02:17] emhoracek opened #15 ""Hikaru, Umi, and Fuu" by Makoto (1994)"
Similar problems to #8, missing backgrounds.

In Smooch:
<img width="657" alt="screen shot 2017-08-15 at 10 12 17 pm" src="https://user-images.githubusercontent.com/5353499/29344590-de41fb5e-8206-11e7-8a31-1b1e78268e9b.png">

In UltraKiSS:
<img width="659" alt="screen shot 2017-08-15 at 10 15 43 pm" src="https://user-images.githubusercontent.com/5353499/29344649-53673304-8207-11e7-9f5e-b18e85aacbf

[2017-08-17 10:39] huggablemonad commented on #15
With this config:

[code]

In fkiss:

![ksraye_1-background-test](https://user-images.githubusercontent.com/17948023/29394084-bcd58898-833a-11e7-9f0e-b5a916e7aa03.png)

So maybe `*` doesn't always mean a "non-existent object"? I think the background is missing in Smooch because it's getting assigned a value of `NoPosition`.

[2017-08-17 13:02] emhoracek commented on #15
WHAT THE HECK

Maybe objects without a specified position are by default positioned at (0,0)? And if the position isn't changed from the default, the viewer assigns it `*`, same as if the object doesn't exist?

Thanks for doing this detective work!

[2017-08-17 13:03] emhoracek commented on #15
I'm going to say this is a bug in the JavaScript because we can just say if there's no position for an object, the position is (0,0).

[2017-08-17 21:01] ear commented on #9
That's great! I wonder why the argument needs to be forced in [`return $! T.decodeUtf8 fileBS`](https://github.com/emhoracek/smooch/blob/master/haskell/src/Upload.hs#L109). I don't have much experience with `catch` actually.

I wonder can you explain the reason behind the pervasive use of `EitherT`? I'm genuinely curious.

[2017-08-17 21:18] emhoracek commented on #9
@ear Both very good questions!

The `decodeUtf8` needs to be forced because otherwise the error occurs "outside" the `catch` and doesn't get handled. Due to laziness, the error doesn't happen until the app actually starts looking at the text.

The pervasive use of `EitherT` is because I wanted a consistent interface for handling failures, since things can fail all over the place. Shell commands ca

[2017-08-17 21:24] ear commented on #9
@emhoracek thank you for the fast reply. Funny how exceptions can escape a catch because of laziness! It makes sense.

I'm also impressed by the idea of using exceptions more. I never liked them in other languages because of the impact they have on control flow. They usually make it harder to reason about code because you need to take in consideration control flow points that might be far away fro

[2017-08-18 01:28] emhoracek commented on #15
Yay, it looks great now!

<img width="663" alt="screen shot 2017-08-17 at 9 27 53 pm" src="https://user-images.githubusercontent.com/5353499/29440452-ff9ff2dc-8392-11e7-8476-6d82c5f7353c.png">

Thanks again @huggablemonad!

[2017-08-18 01:28] #15 closed

[2017-08-18 01:32] emhoracek commented on #10
Fixing #15 also fixed the missing background images in this set! However, most of the issues remain.

[2017-08-18 13:31] emhoracek commented on #14
Looking at the [set data JSON](https://gist.github.com/emhoracek/869f78275d3479115f47b1854d52fd3f), it seems like a lot of cels don't have any position data associated with them.

It would be great if I could find a much smaller set that had this same problem.

[2017-08-18 14:24] huggablemonad commented on #8
I think the tussle between cels 4-8 for the position of a single `bg.png` causes the background to cover only part of the play area.

With these changes to `violet.cnf`:

[code]
And after linking `bg{4,5,6,7,8}.cel` to `bg.cel` (I changed the background colors of `bg{4,5,6,7,8}.png` so I can see it more clearly):

![violetah-background-test](https://user-images.githubusercontent.com/17948023/29462

[2017-08-18 16:00] ear commented on #9
OH yours is a very good point. Those two types *are* the same.

- If you use `IO (Either e a)` you have to unwrap Eithers by hand
- If you use `EitherT a IO a` do-notation does it for you

I like how this is not magical but very explicit: I'm looking at `bind`'s definition with this new pair of glasses you gave me 🤓

[code]

This is very nice so I looked into where you use this monad and found [th

[2017-08-19 00:11] emhoracek commented on #9
Hi @ear, those refactorings look very nice to me! When I wrote most of the EitherT code I was still very new to monad transformers and didn't understand them very well at all. I had a tendency to use `liftIO` as a sort of magic word to make stuff work. :joy: You're right that of course `liftIO` isn't necessary in those two examples -- maybe other places too. I also like these helper functions you

[2017-08-19 15:35] emhoracek commented on #8
@huggablemonad Yay this is so helpful! That's exactly what it was. The script was trying to match up the object to the cel by name, so even though there are 5 copies of the cel and 5 objects, all the objects were just using the first cel with that name. I changed this to not reassign cels that already belonged to an object.

Now it just looks like a cel transparency problem.

<img width="812" alt=

[2017-08-19 21:44] emhoracek commented on #13
Idea for improving performance while click-and-dragging:

https://developer.mozilla.org/en-US/docs/Web/API/Canvas_API/Tutorial/Optimizing_canvas

IDEAD: Instead of updating and drawing *everything* on every frame: draw everything but the moving object to another canvas, then only update and draw only two things: the canvas and the moving object.

DRAWBACK: The moving object won't be layered correc

[2017-08-20 01:43] emhoracek commented on #12
This is fixed! The problem was that drawing an image to canvas requires loading the image, which is asynchronous. Since Smooch is initialized on window load, the images *are* already loaded, but to get the "ghost" image, we need to draw the image to canvas, manipulate it, then save the result. When you save the ghost image to a new image, it takes time to load and draw it. The initial draw ends up

[2017-08-20 01:43] #12 closed

[2017-08-20 12:58] huggablemonad commented on #8
It seems that prefixing `=` to the transparent color fixes the problem, e.g., `=rgb:ff/f7/ff`. Here's the explanation for `-transparent color` from the `pnmtopng` man page:

![violetah-background-ok](https://user-images.githubusercontent.com/17948023/29494682-1b60fdd0-85e2-11e7-892d-50597adf6227.png)

However, the blood stain behind the hat (`hat.cel`) is missing. I'm not sure but it could be a la

[2017-08-20 21:09] emhoracek commented on #8
@huggablemonad Thanks so much -- that transparency thing has probably been causing a lot of problems! You're right about there being a layering problem -- I think that has to do with how I tried to fix the multiple objects-one cel problem. So still some work to do there!

[2017-08-21 12:32] huggablemonad commented on #14
This might be a red herring, but there's some kind of pattern in the errors that I'm seeing in the JavaScript console.

When I click on set 5, there's an `Uncaught TypeError`:

[code]

Apparently, the position of \#64 (`sa74`) is undefined.

After removing all references to \#64 in `sasami.cnf`:

![sasami-set-5-no-64](https://user-images.githubusercontent.com/17948023/29517976-227ea518-86aa-11e7-9

[2017-08-21 13:27] emhoracek commented on #14
Yeah I thought it probably had to do with that console error too. #10 has the same error and probably the same bug. Thanks for the information -- really interesting that if you remove objects the set starts to work better...

[2017-08-29 14:32] ear commented on #9
I just came across something that I had no idea existed—it seems obvious it has to exist, in hindsight: http://hackage.haskell.org/package/charsetdetect-ae

[2017-09-13 19:57] emhoracek opened #18 ""Touch-and-drag" on mobile/touchscreens"
This is hopefully a straightforward change to the JavaScript -- this issue doesn't encompass making sets fully responsive or anything, but right now dragging just doesn't work at all, and I think it ought to.

[2017-09-28 07:14] alexanderzafirov commented on #1
Hello! I found this interesting project though the `Hacktoberfest` label. I would like to look at this.
Just to clarify - is this documentation or code related? Or both :)

[2017-09-28 15:06] emhoracek commented on #1
@alexanderzafirov hi! glad to hear. This discrepancy is visible in both the documentation and the code, I think, and I would like it to be fixed in both places.

This is intended to be a ticket for people who are new to contributing to open source, btw -- if that describes you I'm happy to assign the ticket to you.

[2017-09-29 07:22] alexanderzafirov commented on #1
Well, I've contributed before but not to this project. Let me give it a shot. Hopefully I can practise my Haskell and Js :)

[2017-09-30 14:07] emhoracek commented on #1
@alexanderzafirov I intended this issue to be something like http://www.firsttimersonly.com/ -- I've added that label to make it clearer. Closer to October I'll have lots more Hacktober issues written up and hopefully some of those will be interesting to you! In the meantime, please don't work on this so that a total newbie can take it.

[2017-09-30 15:47] emhoracek opened #22 "Move "haskell" directory to "app""
It's not clear right now that the actually running app is located in the "haskell" directory. So let's change the name of that directory to "app".

This task also includes changing the third paragraph of the "structure" section of the README to say "app" instead of "haskell" and fixing the link in the CONTRIBUTING file in the [Backend](https://github.com/emhoracek/smooch/blob/master/CONTRIBUTING.m

[2017-09-30 15:51] emhoracek opened #23 "Add screenshots to the CONTRIBUTING docs"
Follow the directions in the [CONTIBRUTING](https://github.com/emhoracek/smooch/blob/master/CONTRIBUTING.md) file to get Smooch running on your computer. Then take screenshots of each step and edit the file to include them. (It's easiest to do this in the Github UI.)

[2017-09-30 16:02] willshiel commented on #22
Hi!  I was wondering if I could take this? I'm a beginner with contributing to open source projects and would love to partake in hacktoberfest

[2017-09-30 16:07] emhoracek commented on #22
@willshiel Sure! Go ahead and fork the project, then make your changes and make a pull request back here. Let me know if you need any help or run into any problems!

[2017-09-30 17:19] emhoracek opened #24 "Fix imports list in ShellSpec"
Very tiny fix!

In every Haskell file, there should be two separate lists of imports. The top list is imports from outside libraries. The bottom list is imports from within the project.

In `haskell/tests/ShellSpec.hs`, `import Shell` is in the top list. Please move it to the bottom list.

This is a "first-timers-only" task. If you have never contributed to an open source project, you can work on

[2017-09-30 17:29] Jorissss commented on #24
Will do! Do I just fork and then send a pull request?

[2017-09-30 18:03] emhoracek commented on #24
@Jorissss great! Yes, please fork and make a PR!

[2017-10-01 00:49] emhoracek opened #26 "Add a demo doll to the index page"
The index page for the site is a bit bare right now:

<img width="1003" alt="screen shot 2017-09-30 at 7 38 13 pm" src="https://user-images.githubusercontent.com/5353499/31050388-f4212e84-a616-11e7-900e-c28e29ac37df.png">

Let's add a "demo doll" to the index page, then encourage folks to create an account to play with other sets. See this beautiful mockup:

![smooch](https://user-images.githubuse

[2017-10-01 06:35] vagita24 commented on #1
@emhoracek  Can I take this issue?? This can be my second attempt, first attempt you know well.

[2017-10-01 11:22] emhoracek commented on #1
@vagita24 sure!

[2017-10-01 14:19] willshiel commented on #22
Just submitted my pull request.  Should be all good, but let me know if there's anything else I need to do! Thanks!

[2017-10-01 14:45] emhoracek commented on #22
@willshiel Looks great -- thanks so much!

[2017-10-01 14:45] #22 closed

[2017-10-01 16:04] emhoracek opened #29 "Accessibility: Keyboard users can select and move cels"
Right now the canvas isn't accessible for keyboard users.

It would be cool if you could somehow select into the canvas, maybe using TAB, and then it would select a cel. The selection could be shown by adding a "halo" effect by lightening and blurring a copy of the cel image behind the cel itself. The user should be able to move the selected cel by moving the arrow keys. They could change which ce

[2017-10-01 19:16] lisaychuang commented on #23
Hi @emhoracek , I'm here for HacktoberFest and will like to work on this issue! Let me know if I can call dibs and get started =) Thanks! Lisa

[2017-10-01 19:37] emhoracek commented on #23
@lisaychuang Awesome! Dibs are yours! Let me know if you run into any trouble at all -- get the Haskell stack up and running can be a little annoying so I may have missed some steps!

[2017-10-01 19:39] emhoracek commented on #23
Actually, I just thought of a step I missed -- if you don't mind, could you add "Run `stack install rivet-autoimporter` to the end of the [Build Smooch](https://github.com/emhoracek/smooch/blob/master/CONTRIBUTING.md#build-smooch) section while you're making these other edits?

[2017-10-01 19:46] lisaychuang commented on #23
Will do! I'll go through the steps and let you know if I bumped into any other issues /missed steps :)

[2017-10-01 20:37] lisaychuang opened #32 "Link to installation guide?"
Hi Libby,

I'm going through CONTRIBUTING.md, and the first link in [Filing an issue](https://github.com/emhoracek/smooch/blob/master/CONTRIBUTING.md#filing-an-issue) to [get Smooch working on your own computer](https://github.com/emhoracek/smooch/blob/master) is a broken link with 404 error.

I see that there's a section further down the guide to [Run Smooch on your computer](https://github.com/e

[2017-10-01 20:38] lisaychuang commented on #32
An example of a great installation guide, inclued in README.md file is @mike-north's repo: https://github.com/mike-north/vscode-fundamentals/blob/master/README.md

[2017-10-01 21:53] lisaychuang commented on #23
@emhoracek , I've updated the CONTRIBUTING.md guide installation in pull request #33 . But need your help/ clarification on the following:

* Install cel2pnm
At the end of your original instructions, you ended with "Put cel2pnm in your PATH." - What does this mean? Do you mean for users to cd into the `cel2pnm` directory?

* Install stack
You indicated: "Once you have stack installed, change to th

[2017-10-01 22:15] emhoracek commented on #23
@lisaychuang Putting an executable in your `$PATH` means that your operating system knows where to find it and can execute it by name. [This StackOverflow question](https://askubuntu.com/questions/551990/what-does-path-mean) has a pretty good explanation. This is important because when the app is running, it just uses the `cel2pnm` command. If you don't have `cel2pnm` in your PATH, then your opera

[2017-10-01 22:18] emhoracek commented on #32
@lisaychuang Thanks so much! I'm definitely still figuring out how to document stuff so I really appreciate resources like this! I've spent so much time in Haskell -- land of zero documentation -- I've forgotten what good docs look like!

[2017-10-01 22:54] lisaychuang commented on #23
Okay, so I've read up on $PATH and ended up on [this Stackoverflow answer](https://stackoverflow.com/questions/30461201/how-do-i-edit-path-bash-profile-on-osx). I located by .~/profile , but am still not sure how I can add `cel2pnm` by editing the file.  Tips?

[2017-10-02 00:02] emhoracek commented on #23
@lisaychuang I'm gonna assume you have OSX or Unix here -- correct me if I'm wrong --

There's a couple different ways to add it. In both, you're going to add a line like this:

[code]

The question is what that cel2pnm_path is going to be. If you do a lot of development like this, it's a good idea to create a `bin` directory somewhere convenient, and put executables like this there. That way they

[2017-10-02 00:41] emhoracek commented on #32
Fixed by #33

[2017-10-02 00:41] #32 closed

[2017-10-02 01:01] lisaychuang commented on #23
I'll revisit this issue tomorrow - still need to update:
* Put `cel2pnm` in `$PATH`
* Wait for @emhoracek feedback on LHA installation /licensing

[2017-10-02 11:52] huggablemonad commented on #23
For decompressing KiSS sets, I think [`lhasa`](https://github.com/fragglet/lhasa) is suitable for inclusion in Smooch. It's licensed under the ISC and is [compatible with the GNU GPL](https://www.gnu.org/licenses/license-list.html#ISC). There's a [Brew formula](http://braumeister.org/formula/lhasa) for it too. `lhasa` also has a shared library that could be used for Haskell bindings. I've not run

[2017-10-03 22:56] emhoracek commented on #24
Fixed by #34 ! Thanks for your help!

[2017-10-03 22:56] #24 closed

[2017-10-03 23:37] emhoracek commented on #23
@huggablemonad thanks -- I was leaning towards lhasa too but I haven't tested it yet.

@lisaychuang I'll give lhasa a try and let you know the steps to install it if it looks like a good option!

[2017-10-03 23:47] lisaychuang commented on #23
@emhoracek sounds great! I'll loop back to this after your feedback, thanks Libby :)

[2017-10-05 23:33] mahmedov commented on #26
I'll try to do this one.

[2017-10-05 23:40] emhoracek commented on #26
Awesome! Just ask if you run into any problems!

[2017-10-05 23:41] mahmedov commented on #26
Hey, I just read the issue and I just want to say that im not the best artist in the world so thats why I removed my comment, sorry.

[2017-10-05 23:43] mahmedov commented on #26
I can still work on it using the dolls from smooch but if anyone else who is more talented can do it, then can go ahead.

[2017-10-05 23:45] emhoracek commented on #26
@mahmedov Oh, I meant finding an artist like, on [Big KiSS Page](http://otakuworld.com/kiss/) or elsewhere on the interwebs -- I don't mean that the person who claims the issue needs to be an artist. Just putting one of the demo dolls on the index page would be a big improvement!

[2017-10-05 23:46] mahmedov commented on #26
Got it! Sorry for misunderstanding.

[2017-10-06 02:20] emhoracek opened #37 "Users can login and be greeted on the index page"
Currently users can create an account, but they can't log in, so it's not very useful!

Allow users to login and set a cookie on the response so the session persists.

Once login works, add a greeting to the index page.

[2017-10-09 12:00] emhoracek opened #40 "Users can upload dolls which are only visible to them"
Currently, anyone can upload a doll and then that doll is publicly visible at `sets/<doll_name>`. I would like to limit this to people who have accounts. Then, the doll is only visible to the logged-in user at `/users/<user_name>/dolls/<doll_name>`.

This will involve creating MVC modules for dolls, but I don't think they need to be in database just yet (that can be a separate ticket). Just use fi

[2017-10-09 14:28] huggablemonad opened #41 "Port cel2pnm to Haskell"
Hi @emhoracek, would it still be useful to port the palette parsing code to Haskell from cel2pnm? Or do you prefer that it be done in JavaScript? I'm slightly confused because the roadmap mentions "inlining the C code," which I assumed was to be done in Haskell, but CONTRIBUTING.md suggests "moving the palette parsing into JavaScript."

[2017-10-09 14:36] emhoracek commented on #41
Hi @huggablemonad thanks for asking. The roadmap is still pretty fuzzy. The key thing is not having a separate C script that has to be installed -- whether that happens in Haskell or JavaScript basically depends on which we can get working in an efficient manner.

I already started a JavaScript implementation [here](https://github.com/emhoracek/smooch/blob/master/javascript/reader.html) and [here]

[2017-10-09 16:03] #37 closed

[2017-10-09 18:26] J-Wicks commented on #26
@mahmedov Are you still working on this? If not, I'd like to take a stab at it.

[2017-10-10 10:20] mahmedov commented on #26
@J-Wicks You can go ahead and work on it, I am still unable to run it on my machine.

[2017-10-10 11:32] emhoracek commented on #26
@mahmedov sorry to hear that!

@J-Wicks Issue is yours -- let me know if you run into similar problems.

[2017-10-10 15:42] J-Wicks commented on #26
@emhoracek Good Morning! When I run the stack build script I'm getting the following error:   /private/var/folders/n0/t0rhfj5n31j673krh_s3bjj00000gn/T/stack77530/postgresql-libpq-0.9.3.1/LibPQ.hsc:214:10: fatal error: 'libpq-fe.h' file not found
    #include <libpq-fe.h>

I'm troubleshooting this right now, but have you encountered it before? Any insights?

[2017-10-10 15:48] emhoracek commented on #26
@J-Wicks I *haven't* seen that error before, but I wonder if a step is missing related to the instructions -- do you have Postogresql installed? If so, which version?

[2017-10-10 15:56] J-Wicks commented on #26
I'm running 9.6 right now. I've gotten around the above error but I've run into anther that I believe has to do with postgres. I'll let you know if I can't make any progress by this afternoon.

[2017-10-10 16:57] J-Wicks commented on #26
I'm now getting the error "Incompatible library version: LibPQ_hsc_make requires version 8.0.0 or later, but libiconv.2.dylib provides version 7.0.0"

I've tried adding extra-include-dirs and extra-lib-dirs to point to usr/local/opt/libiconv but that does not fix the issue. Unfortunately I'm now stuck on this and can't seem to make any headway. Thoughts?

[2017-10-10 21:07] #40 closed

[2017-10-10 21:11] emhoracek opened #43 "Make it easier to test set uploads in development"
It's annoying to test uploads now that uploading requires user authentication. We would like it to be quick and easy.

One idea is to have a function that adds a test user only in development, and code that automatically logs you in as that user only in development. But I'm open to other ideas!

If you want to go with my idea:

In the `initialize` function, check the `ENV` envar to see if it is "d

[2017-10-10 21:17] emhoracek commented on #26
@J-Wicks I found some ancient google group threads and github issues but no ideas so far. Will investigate further and get back to you!

[2017-10-11 14:12] emhoracek commented on #23
@lisaychuang I tried out `lhasa` and it was really easy to install on Mac with brew: `brew install lhasa`. In Linux, it looks like you can `sudo apt-get install lhasa` as well. Seems to work just as well as  the non-free `lha` for our purposes!

[2017-10-11 14:39] emhoracek commented on #26
@J-Wicks I'm not sure how to resolve this. -_-

[This post](https://groups.google.com/d/msg/yesodweb/mh7L_Tlmy7k/1MNHgWvzvjsJ) suggests deleting postgres and installing [Postgres.app](https://postgresapp.com/), which seems a bit extreme to me.  Since I don't know why it worked for that person, I can't guarantee that it'll work for you, especially since the post is two years old.

The other thing I

[2017-10-11 16:55] emhoracek opened #44 "Redirect users to their user page on login"
Right now, when a user logs in, they just see some text that says "insert-username-here is logged in!". Instead, the user should be redirected to the page where they can see sets that they have uploaded and upload a new set.

To do this, you'll change line 78 of the `Web.hs` module from:

```okText (userUsername user <> " is logged in!")```

to

```redirect ("/users/" <> username)```

Although thi

[2017-10-11 18:24] emhoracek commented on #26
@J-Wicks thanks for trying! I will also ping you if I learn anything or if I (or another contributor) gets Vagrant set up or something.

[2017-10-12 06:22] 42flyingfish commented on #44
I would like to give this a try.

[2017-10-12 11:42] huggablemonad commented on #41
@emhoracek Could you help shed some light on what palette groups are (in the header of a `KCF` file)? I think it allows for multiple palettes in a single `KCF` file, like `bg1.kcf`, `bg2.kcf`, etc. in one `background.kcf`, but maybe that's not what it means? The [Set Information](https://github.com/emhoracek/smooch/wiki/The-first-KiSS-Specification#set-information) section for `CNF` files mentions

[2017-10-12 12:31] emhoracek commented on #44
Hi @42flyingfish! The first thing you'll want to do is fork the project to your own account, and clone the project. Then get the project running on your computer. Follow the instructions I link to in the issue description above. Let me know if you run into any trouble with any part of this process.

[2017-10-12 12:35] emhoracek commented on #41
@huggablemonad That's a really good question. Palette groups were used more in early KiSS sets than during the time when I learned to make them. So, I don't really understand them either. I wonder if they are related to the problems with #14 and #10. If I were working on this, I'd look at what [Gnome KiSS](http://devel.tlrmx.org/kiss/) does with them, maybe find some early sets from OtakuWorld tha

[2017-10-12 15:22] emhoracek opened #46 "Allow users to logout"
Users should be able to log out of their account.

Add a `/logout` endpoint that logs a user out. This will probably require a new function like `setLoggedInUser` that unsets the "user" session key. Unfortunately, allowing us to unset a value will mean changing the type of the session store! Why? Sessions only provide two functions: a lookup function, and an *insert* function. There is no delete f

[2017-10-13 02:09] 42flyingfish commented on #44
I seem to be having an issue with running the application myself. After following the steps on Arch Linux, I am getting
`smooch: ENV: getEnv: does not exist (no environment variable)
`
Do you have any suggestions?

[2017-10-13 02:18] emhoracek commented on #44
Yes! Sorry, I forgot to add that to the instructions. Try `ENV=devel stack exec smooch`.

[2017-10-13 04:24] 42flyingfish commented on #44
Thank you, that did the trick. I think that I am ready to make my first pull request.

[2017-10-13 06:34] astynax commented on #46
Can I take it?

[2017-10-13 15:02] #44 closed

[2017-10-13 15:03] emhoracek commented on #46
@astynax Sure! Let me know if you run into any problems.

[2017-10-16 14:16] huggablemonad commented on #41
@emhoracek Thanks for the hint! I found a set from 1993, [Erika, Shinobu, Hiromi](https://otakuworld.com/kiss/dolls/pages/k/kiss_eri.htm), that uses palette groups. The next step is probably to figure out how to implement support for them, maybe in a separate issue?

As for converting cels to PNGs, I think it's possible to replace `pnmtopng` with [`JuicyPixels`](https://hackage.haskell.org/package

[2017-10-16 14:31] emhoracek commented on #41
@huggablemonad There is a size difference -- the paletted PNG is 3.34KB and the unpaletted is 5.6KB. Given that each image has to be downloaded over the network, this could feel very significant for large sets. 2KB additional x 250 cels = half a MB! However maybe we could use regular PNG for now and eventually I'll offer a small bounty for someone to add palette support to JuicyPixels. ^_^

Does J

[2017-10-17 12:48] huggablemonad commented on #41
@emhoracek That's a good point regarding the increased download size. Are you planning to deploy Smooch to AWS?

JuicyPixels doesn't depend on any non-Haskell libraries. It's all pure Haskell, as far as I can tell. Should I add pnm output like cel2pnm does, so you can better evaluate the trade-offs?

[2017-10-17 13:39] emhoracek commented on #41
I am planning on deploying to AWS and using s3 eventually but this matters regardless of where the server is located, since the end user's browser is going to be downloading all the images no matter what. If someone is on a mobile phone plan, a MB is a small but significant difference.

However, since Smooch doesn't even work now on mobile, this tradeoff seems very worth it!  *Especially*  if you

[2017-10-17 14:16] #46 closed

[2017-10-20 13:16] huggablemonad commented on #41
Hmm... it looks like the PNM step might be sticking around for a little longer than anticipated. The Haskell port works, but is horrendously slow. It takes 3 times as long to convert all 167 cels in
the Arwen set as compared to `cel2pnm` + `pnmtopng`! :scream: There's a bit more detail in the pull request (#50).

[2017-11-01 00:05] aklap opened #51 "Installing Smooch on macOS: Missing C libraries"
Do you want to request a feature or report a bug?

Report a bug.

What is the current behavior?

When running `stack build` on macOS, the build exits with the error message:

What is the expected behavior?

We expect that `stack build` should build Smooch without error.

Which browser / OS are affected by this issue? (An *isolated* way to reproduce the bug)

OS: macOS

This looks like a macOS and

[2017-11-01 00:38] aklap opened #53 "Error uploading a set"
Do you want to request a feature or report a bug?
Bug

What is the current behavior?

Trying to upload a doll set, I tried this one: http://www.otakuworld.com/kiss/

Looks like the set is uploaded by trying to decompress and display I get:

What is the expected behavior?

Upload a set, decompress and should display it in browser.

Which browser / OS are affected by this issue? (An *isolated* way t

[2017-11-01 01:00] aklap commented on #26
@emhoracek I find the template file in:

`smooch/app/templates/index.tpl` vs. `/haskell/templates/index.tpl`

I'd like to work on this.

[2017-11-01 01:10] emhoracek commented on #26
Yep it's moved since I made this issue! I'll update the original post tomorrow.

I'm so excited 😆

The trick with this project is getting it up and running -- so definitely let me know if you have any trouble with it!

[2017-11-01 04:16] aklap commented on #26
Setting up the dev environment and running an app is always the hardest part I find, no matter the project 🙂  I'm learning a lot, no worries!

[2017-11-01 04:23] aklap commented on #53
Oh I see, it's a utility to decompress the LZH file format (pretty interesting history re: file format--is this mentioned in the docs? Would be cool to see a bit about that in there).

[2017-11-01 14:30] emhoracek commented on #53
@aklap We discussed this a little here: https://github.com/emhoracek/smooch/issues/23#issuecomment-335824039 It looks like the "lhasa" program is the best option (since it's GNU free software and also available via brew). I believe any version should work, since we're only decompressing the files.

[2017-11-01 14:31] emhoracek commented on #51
@aklap Oh interesting! I don't think I've seen those before -- but it might be that it's just been a long time since I first started using Haskell on Mac. I agree this would be really helpful information to have in the documentation.

[2017-11-01 14:59] aklap commented on #53
Ok, thanks for the info, lhasa it is!

[2017-11-01 16:18] aklap commented on #23
Just wanted to add that it would be really helpful to add @emhoracek's [examples and comments](https://github.com/emhoracek/smooch/issues/23#issuecomment-333416368) to the setup section for adding `cel2npm` to your $PATH -- it's very clear and explicit as to what to do.

I could easily see the Stack Overflow page confusing someone with less experience editing their .bash_profile or working with th

[2017-11-01 16:27] aklap commented on #26
Everything is up and running for me 🎉  One question @emhoracek , is there hot reloading with this server? I just quickly googled and it looks like the answer is no?

[2017-11-01 17:02] emhoracek commented on #26
@aklap hooray!!

I usually just manually reload bc I haven't done much frontend work yet. There is a way to get hotreloading working, using `nodemon` (from npm). It would be something like (copying from another of my projects):

`stack build && nodemon --ext tpl --watch templates --watch src --exec "stack exec" app`

But I haven't tried it yet!

[2017-11-02 16:03] aklap commented on #26
This worked for me:

`stack build && nodemon --ext tpl --watch templates --watch src --exec "stack exec" smooch`

[2017-11-11 09:45] Twinside commented on #41
I could take the bounty for the JuicyPixel ticket :]

[2017-11-11 15:41] emhoracek commented on #41
@Twinside tbh I have no idea what is an appropriate amount for such a thing but I'll definitely donate to JuicyPixels if Smooch ends up using it (regardless of the palette issue). It seems really nice and it looks like @huggablemonad figured out the performance issues.

[2017-11-11 17:17] Twinside commented on #41
Around the price of a steam game would be nice ;)

[2017-11-23 05:52] aklap commented on #26
Sorry for the wait on this one, does this look like what you were thinking of @emhoracek? I'm open to suggestions, since I'm admittedly not a designer.

![Home page layout](https://i.imgur.com/28yhCh8.png)

[2018-06-29 14:35] emhoracek opened #56 "Display doll artist README somewhere in set"
Many dolls include a ".txt" file in the set that has information about the creation of the doll, credits to other artists or coders, and information about inspirations and meanings of various elements of the set. It would be neat to read this file and display it somewhere on the front end.

[2018-07-08 17:15] emhoracek opened #57 "If no cels are listed for a set, the set number shouldn't be clickable"
[Ophelia St Morphine by Satori](http://otakuworld.com/kiss/dolls/pages/o/ophelia.htm) is a good example.

Only the first set has any clothes:

<img width="708" alt="screen shot 2018-07-08 at 1 08 01 pm" src="https://user-images.githubusercontent.com/5353499/42422245-6ae85e40-82b0-11e8-92a6-72737e4f9f08.png">

The rest are empty:
<img width="710" alt="screen shot 2018-07-08 at 1 10 56 pm" src="http

[2018-07-10 13:32] emhoracek opened #58 "Integrate CelToPng/ParseCel/ParseKCF with Upload"
I'm going to merge #50 to keep the PRs small but the new cel processing still needs to be integrated with the rest of the project, which is currently still shelling out to cel2pnm.

[2018-07-10 13:35] #41 closed

[2018-07-18 17:31] jarmstrng opened #59 "Make it so that ghost canvas can handle more than 255 items"
https://github.com/emhoracek/smooch/blob/f0097918ffefb78dc3fda316b53acbcdd52d91f2/javascript/doll.js#L76

TODO: Handle ids larger than 255
Need to map each integer to a unique color

Sometimes dolls have more than 255 items, and currently those extra items aren't assigned a color in the ghost canvas.

In fixing this, we need to make sure multiple items are not assigned the same color.

[2018-07-18 17:38] jarmstrng opened #60 "Remove unused variable"
https://github.com/emhoracek/smooch/blob/f0097918ffefb78dc3fda316b53acbcdd52d91f2/javascript/doll.js#L382

It appears this `blah` variable isn't being used anywhere

[2018-07-18 17:40] emhoracek opened #61 "Add Chrome and Safari support"
*What is the current behavior?*

In Chrome, we get this error loading any set:
`Uncaught DOMException: Failed to execute 'getImageData' on 'CanvasRenderingContext2D': The canvas has been tainted by cross-origin data.`

*What is the expected behavior?*

The set is loaded and displayed similar to Firefox.

*Which browser / OS are affected by this issue?*
Chrome and Safari

*Notes*
I like that Firefo

[2018-07-18 17:45] emhoracek opened #62 "Loading spinner/bar should give more feedback"
*What is the current behavior?*

The loading bar is displayed but is just a blue bar and doesn't really indicate what it is.

*What is the expected behavior?*

Something should indicate that progress is being made.

*Which browser / OS are affected by this issue?*

All

[2018-07-18 17:52] jarmstrng opened #63 "Make it so clicking on doll name locally goes directly to doll's /index.html"
When working locally, clicking on the name of a doll takes you to the folder, and then you must click on the index.html file from there to get to the doll's page (it works fine on the hosted homepage because GitHub automatically serves index files under `/docs`).

It would be a nicer workflow for us if the doll links in `file:///Users/<local path>/smooch/docs/index.html` went directly to the doll'

[2018-07-18 17:56] jarmstrng opened #64 "Link to GitHub repo in footer should open in a new tab"
Currently, the link in the screen shot below opens in the same tab.

Dress-up doll enthusiasts probably would prefer to keep the doll they've been playing with in the same tab while perusing the source code in a new tab.

<img width="642" alt="screen shot 2018-07-18 at 1 54 11 pm" src="https://user-images.githubusercontent.com/7620750/42898826-42216ce2-8a92-11e8-9853-d2002d09af28.png">

[2018-07-18 19:24] Neidley commented on #60
May I claim this issue?

[2018-07-18 19:48] emhoracek commented on #60
@Neidley Thanks so much for asking, but we were creating issues for a workshop tonight. Please check in again tomorrow? If no one has claimed it by then, then definitely. There may also be more interesting issues added by workshop attendees.

[2018-07-18 19:49] emhoracek commented on #63
Thanks @jarmstrng! Just want to add that this problem is in the `/docs/index.html` file.

[2018-07-18 19:52] emhoracek commented on #64
Agreed! This change should be made to the `javascript/kiss.html` file and tested visually in a browser. Once it works, copy the code to the `app/templates/kissSet.tpl` template so that the actual app will work the same way.

[2018-07-18 23:41] jarmstrng opened #65 "Remove unused variable & attribute"
https://github.com/emhoracek/smooch/blob/20bd5286c7fa9c0da3d1c9c822fa68c1e5b6bb04/javascript/doll.js#L8-L10

Looks like `editMode` and `editButton` never get used. Please remove them.

[2018-07-18 23:51] erinfox commented on #60
claim :)

[2018-07-18 23:58] MariaVolpe commented on #59
I'm going to give it a shot!

[2018-07-19 00:01] AlwinaO commented on #1
Hello, I'd like to claim this issue.

[2018-07-19 00:09] kgrons commented on #56
I'd like to try this with @lmbarrier !

[2018-07-19 00:09] aariasgonz21 commented on #64
Got it!

[2018-07-19 00:16] cassiemoy commented on #63
Can we claim this? 😸

[2018-07-19 00:28] jarmstrng opened #69 "Log user in and redirect to user page on account creation"
What is the current behavior?
currently, displays "created". must go back and log in with new account

What is the expected behavior?
Log user in and redirect to user page on account creation

[2018-07-19 00:29] #63 closed

[2018-07-19 00:39] jarmstrng opened #70 "Add lhasa install to install docs"
Add `brew install lhasa` to CONTRIBUTING.md

[2018-07-19 00:56] emhoracek commented on #1
@AlwinaO It's yours!

[2018-07-19 00:57] emhoracek commented on #59
@MariaVolpe Excited to see your solution!

[2018-07-19 02:07] #59 closed

[2018-07-19 02:11] #64 closed

[2018-07-19 02:14] Neidley commented on #65
May I claim this issue?

[2018-07-19 02:15] #70 closed

[2018-07-20 10:38] Shadow2xx commented on #65
Is it normal to add this one as an issue instead just making a pull request?

[2018-07-20 16:57] Jengel1 commented on #65
Not sure if this issue has been claimed but I'd love to work on it.

[2018-07-20 17:09] Jengel1 commented on #65
Tried to push my changes but received 403 error.

remote: Permission to emhoracek/smooch.git denied to Jengel1.
fatal: unable to access "https://github.com/emhoracek/smooch/"

Does anyone have any advice?

[2018-07-20 17:13] hernandesdoug commented on #65
Can I work in this issue? I'm new here.

[2018-07-20 19:09] emhoracek commented on #65
@Shadow2xx This is an issue specifically for people who are brand-new to open source so they can get their feet wet with a very easy issue.

[2018-07-20 19:11] hernandesdoug commented on #65
I'm brand new to open source. I'm finishing a course at Udacity and I would like to have some practice.

[2018-07-20 19:14] #65 closed

[2018-07-20 19:15] #60 closed

[2018-07-20 19:17] emhoracek commented on #57
@hernandesdoug Would you like to try this one? I'm happy to help you get set up if you aren't sure how to get started.

[2018-07-20 19:21] hernandesdoug commented on #57
Hi @emhoracek Yes, I would.

[2018-07-20 23:05] hernandesdoug commented on #57
Thank you @emhoracek I will fork the repo and work on it. I will let you know if I have any problem.

[2018-07-25 02:06] AlwinaO commented on #1
Hello, I made the first of a number of commits to fix this issue on javascript/doll.js. If this looks good, I will continue with other files.
Once I finish updating all the files, do I click on a new pull request? Or should I click on a new pull request even though I'm still updating the files?
Thank you in advance for your input!

[2018-08-03 16:14] emhoracek commented on #1
Hi @AlwinaO, sorry it took so long to get back to you!

I'm trying to think what the best way to do this would be.

It's always good to make PRs as small as possible while still making sure the PR works as a whole. Sometimes, if you change the spelling in one file, it will break another file. If the backend is outputting "cells" and your javascript is now looking for "cels", that's going to be bro

[2018-08-03 17:28] AlwinaO commented on #1
No worries @emhoracek! I will make sure to do so in the future.
I will work on this now and make the pull request.
Thank you for reviewing.

[2018-08-03 18:22] emhoracek commented on #1
Yay our oldest issue is RESOLVED 🎉  Thank you @AlwinaO !

[2018-08-03 18:22] #1 closed

[2018-08-05 11:00] huggablemonad opened #79 "`Kiss.hs` fails to compile (duplicate field label `kCels`)"
Do you want to request a feature or report a bug?

Bug.

What is the current behavior?

`Kiss.hs` fails to compile on the master branch (436c673b29afa7212a692b8cc40ed4e4637457ae):

[code]

What is the expected behavior?

There shouldn't be any compilation errors.

Which browser / OS are affected by this issue?

All.

[2018-08-05 14:07] huggablemonad commented on #69
Hi @emhoracek, this seems straightforward to implement, so do you want to maybe leave it for Hacktoberfest or something?

[2018-08-05 14:51] emhoracek commented on #69
@huggablemonad Yeah, the only reason it isn't done already is that I'm currently focusing on the stuff I need to do to get the app deployable -- integrating your cel processing code, putting the files on s3 instead of serving locally, etc. If you want to do it, go for it, or it can wait till Hacktober.

[2018-08-05 14:52] emhoracek commented on #79
@huggablemonad Thanks for catching this! Somehow I missed it when I was testing #78.

[2018-08-12 11:56] #79 closed

[2018-08-18 15:43] huggablemonad commented on #58
I can work on the integration.

[2018-08-19 12:09] huggablemonad opened #82 "Cel conversion fails when cel filenames aren't in lowercase"
Do you want to request a feature or report a bug?

Bug.

What is the current behavior?

The cel conversion process fails when the cel filenames aren't in lowercase. For example, the `Hyacinth Delilah` (`hyad`) set has `ridetop.cel` listed in `hyaD.cnf`, but the cel filename is `RIDETOP.Cel`. The error given by Smooch is as follows:

[code]

What is the expected behavior?

The cel conversion should

[2018-08-21 17:30] huggablemonad commented on #14
I think I figured it out. If the length of a set is less than the length of the longest set, then the "missing" objects need to have a default position of `0,0` (cf. #15). In other words, for this doll, the longest set has 65 objects. So, for set 9, which is just `$0 *`, Smooch needs to treat it as being equivalent to `$0 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

[2018-08-26 06:58] huggablemonad commented on #14
A minimal reproducible example:

[code]

Set 0 in GnomeKiSS:
![gnomekiss-set-0](https://user-images.githubusercontent.com/17948023/44625606-e97b3600-a93f-11e8-8086-01a2ca775c77.jpg)

Set 0 in Smooch:
![smooch-set-0](https://user-images.githubusercontent.com/17948023/44625618-3b23c080-a940-11e8-95e0-4c3c7f906e2f.jpg)

Set 1 in GnomeKiSS:
![gnomekiss-set-1](https://user-images.githubusercontent.com/

[2022-01-31 01:40] emhoracek commented on #26
Hi @aklap! I've started working on this project again and wanted to clean up the PRs. I've made a new PR based on this one that cleans up a couple TODOs and merges in GHC updates and I'm going to go ahead and merge it. Thanks so much for your work on this and sorry for not finishing it sooner!

[2022-01-31 01:43] #26 closed

[2022-01-31 02:09] #69 closed

[2022-01-31 02:30] #58 closed

[2022-02-13 17:02] emhoracek commented on #57
The person who originally claimed this has deleted their account, so this issue is up for grabs again.

[2022-02-21 20:46] emhoracek commented on #8
Finally found a way to fix this one, although I'm still not exactly sure what was wrong. I moved the object grouping logic to the frontend and in the process this bug was fixed.

<img width="826" alt="Screen Shot 2022-02-21 at 3 44 51 PM" src="https://user-images.githubusercontent.com/5353499/155024206-b3e1fc6d-054a-4dfd-a897-4b71fecedc8d.png">

[2022-02-21 21:02] #8 closed

[2022-02-21 21:09] emhoracek commented on #14
This was also fixed by #93 !

[2022-02-21 21:09] #14 closed

[2022-02-23 01:41] emhoracek commented on #10
So I've made a lot of progress on this by allowing for multiple versions of a cel, each with a different palette, in the next PR.

Here's the next PR to Smooch:
<img width="621" alt="Screen Shot 2022-02-22 at 8 36 31 PM" src="https://user-images.githubusercontent.com/5353499/155248405-d4d183a1-e126-4eab-b971-fb0c611b6c67.png">

And here's UltraKiss:
<img width="624" alt="Screen Shot 2022-02-22 at

[2022-02-23 02:10] #10 closed

[2022-02-23 22:59] emhoracek opened #100 ""Sailor Uranus" by Aragonite (2004)"
Otakuworld URL: http://otakuworld.com/kiss/dolls/pages/1haruka.htm

Smooch can't convert this doll, but instead of erroring out, it just grinds on it forever. It may be because it's a very large doll with nearly 500 lines of cels in the configuration file!

Not sure what part is slowing it down to the point where it never finishes processing on the backend.

I think this will be a challenging doll

[2022-02-24 01:13] #18 closed

[2022-02-24 01:39] #82 closed

[2022-02-26 04:18] #100 closed

[2022-02-28 12:51] emhoracek opened #106 "Figure out how to deal with scrolling/zooming on mobile"
Touch-and-drag now works on mobile, but most dolls don't fit entirely on a mobile screen. How do users scroll or zoom in and out on the canvas without triggering a drag?

[2022-02-28 12:54] emhoracek opened #107 "Sessions are broken"
Sessions have been broken since I upgraded GHC and merged a bunch of PRs. When you fail to log in to the app, you can't go back and try again - your session is permanently broken until you clear your cookies. And it looks like new cookies are set on every page visit. If you log in successfully on your first try, you're good, but even then if you stop the server and restart it, you won't be able to

[2022-02-28 14:34] #43 closed

[2022-03-29 17:46] emhoracek commented on #13
I'm not sure if this issue is already resolved for the sets mentioned in the original issue, but I've noticed that currently, very large sets will actually grind the browser tab to halt. Example would be Gwynn Kirkaldy's [Do It Thineself Coat of Arms](http://otakuworld.com/kiss/dolls/pages/h/heraldry.htm). This set is only FKiSS 1 so it should work fine in Smooch now, but it's also 1.2 MB compress

[2022-04-10 21:44] #56 closed

[2022-04-11 12:43] emhoracek opened #120 "FKiSS parsing bug"
From Clockwork Prince on Discord:

[code]

Relevant part of CNF:

[code]

The first line with the empty quotations is line 190.

[2022-04-12 23:03] #120 closed

[2022-09-29 13:35] emhoracek opened #122 "How to deploy?"
So the way I usually deploy my Haskell apps is using a process that dbp made back in like 2014.

1. Push app to a deployment branch
2. CI builds the app with production flags
3. Use [this script](https://github.com/emhoracek/offset-example-site/blob/master/deploy/scratch/mk.py) (more or less). The script copies the compiled executable + some other files from the host operating system into an empty